# Lecture Examples

### Integral types

In [4]:
x = 1
print(x)
print (type(x))

1
<class 'int'>

### Integer Division

In [15]:
 res1= 3/2
print(res1)
print(type(res1))

1.5
<class 'float'>

In [17]:
 res1= 3//2
print(res1)
print(type(res1))

1
<class 'int'>

In [21]:
# f = 3.2e4 + 0.00002e-6
# formatString = "%1.6.20g"
# print(formatString % f)
# print(type(f))

In [25]:
c1= 1j
c2 = 2j
c3 = c1*2
print (3)
print(type(c3))
print(c3.real)
#print(c3,imag)

3
<class 'complex'>
0.0

### Decimal

In [27]:
from decimal import *
getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [29]:
Decimal('-3.14').as_integer_ratio()

(-157, 50)

In [36]:
x = 'Good'
y= "day"
print (x+y)

z= """
Hello
    world
"""
print(z)
print(type(z))
print(z.upper())

Goodday

Hello
    world

<class 'str'>

HELLO
    WORLD

### Unicode

In [43]:
type("abc")

str

In [ ]:
type(b"abc")

### Lists

In [55]:
list1 = []
list2 = [4]
list3 = [2,4,6]
list4= [1, "two", 3, 'four']
list5 = [[2,3], [6,8]]
print (type(list5))
print (list1, ':', len (list1))
print ( list2, ':', len(list2))
print ( list3, ':', len(list3))
print ( list4, ':', len(list4))
print ( list5, ':', len(list5))

<class 'list'>
[] : 0
[4] : 1
[2, 4, 6] : 3
[1, 'two', 3, 'four'] : 4
[[2, 3], [6, 8]] : 2

### Working with Lists

In [79]:
list5 = [2,6,4,10,8]
print (list5[1])
print (list5[-1])
print (list5[:2]) #n from index zero to end not inclusive of end of range
print (list5[2:]) #starts at seocnd index to end

6
8
[2, 6]
[4, 10, 8]

In [83]:
#add element in list
#list5.append(17) 
print(list5)

[2, 6, 7, 4, 10, 8]

In [85]:
# add list to end of another list
list5.extend([10,12])
print(list5)

[2, 6, 7, 4, 10, 8, 10, 12]

In [87]:
# use insert to add element at a particula index
# at second index add 7 in the list
list5.insert(2,7)
print(list5)

[2, 6, 7, 7, 4, 10, 8, 10, 12]

### Range

In [90]:
for i in range(1,10,2):
    print(i, '', end ='')

1 3 5 7 9

In [92]:
for i in range (10,1,-2):
    print(i,'', end = '')

10 8 6 4 2

### List Comprehension

In [101]:
list1 = [1,2,3,4,5,6]
print('list1: ', list1)

list2= [e+1 for e in list1]
print('list2: ', list2)

list1:  [1, 2, 3, 4, 5, 6]
list2:  [2, 3, 4, 5, 6, 7]

In [111]:
#ranges and tuples
t1= (1,3,5)
[e1*2 for e1 in t1]

[2, 6, 10]

In [113]:
first9squares = [x*x for x in range (1,10,1)]
first9squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Dictionaries

In [136]:
d = {'one':1, 'two':2}
print(d)
print(type(d))
print(d['two'])
d['three'] =3
print(d)
del d['two']
print(d)

{'one': 1, 'two': 2}
<class 'dict'>
2
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'three': 3}

In [138]:
seasons = {'spring': ('March', 'April', 'May'),
           'winter': ('Dec', 'Jan', 'Feb')}
print ( seasons['spring'])
print(seasons['winter'][1])

('March', 'April', 'May')
Jan

### More Operations on Dictionaries

In [149]:
#key and values
print(d.keys())
values = d.values()
for e in values:
    print(e)

dict_keys(['one', 'three'])
1
3

In [173]:
#items returns the key , value pair
print(d.items())

dict_items([('one', 1), ('three', 3), ('four', 4), (frozenset({0, (), '2'}), 'a set')])

In [159]:
d['four'] = 4
print(d.keys())

dict_keys(['one', 'three', 'four'])

In [161]:
print(sorted(d.keys()))

['four', 'one', 'three']

### Dictionary Representation

In [170]:
f = frozenset([0,(), '2'])
print(f)
print(hash (f))
d[f] = 'a set'
print(d)

frozenset({0, (), '2'})
-7440220461443595211
{'one': 1, 'three': 3, 'four': 4, frozenset({0, (), '2'}): 'a set'}

### None Type

In [185]:
var =100
print (type(var))
var = None
print (type(var))

if var is None:
    print("var has no value")

<class 'int'>
<class 'NoneType'>
var has no value

### Weakly Typed Data Representation

In [189]:
var = 100
print(var)
var = [1,2,3]
print(type(var))

100
<class 'list'>

In [202]:
s = "2"
f = 2.0
i =2
print(i*f)
#print(s*f) cant multiply sequence by non -int type float
print(i*var)
print (s*i)

4.0
[1, 2, 3, 1, 2, 3]
22