In [66]:

print ("Hello Python!")

Hello Python!

## Write a script that prompts the user to enter a number. Read this number, and print a message depending on whether it is odd or even.

In [69]:
number = int (input("Enter number : " ))
if number %2 == 0:
    print( number , "is even")
else:
    print ( number , "is odd")

Enter number :  6

6 is even

## Create two variables - one containing your name and the other containing your age. Print out the values of both of these variables on separate lines, then combine both into a single variable and print out its value.

In [89]:
name = "Joyceline"
age = 27
combine = name + str(age)
print (combine)

Joyceline27

## Print out a message to the user, asking them to guess a random number (you can decide on a range if you want). Keep asking them to guess until they get it right.

In [118]:
import random
guess_number = int (input ("Guess a random number between 1 and 10: "))
random_number = random.randint(1,10) #it is inclusive

if guess_number == random_number:
    print ("You guessed the random name correctly")
else:
    print ("You guessed wrong. Try again!", guess_number)

Guess a random number between 1 and 10:  4

You guessed the random name correctly

## Declare a list [1, 4, 9, 16, 25] or tuple (1, 4, 9, 16, 25). Use a for-loop to print out all values that are even.

In [124]:
number_list = [1,4,9,16,26]
print ( number_list)

for i in range ( 0, len(number_list)):
    print(number_list[i])


for i in number_list:
    print (i)

[1, 4, 9, 16, 26]
1
4
9
16
26
1
4
9
16
26

## Using a while-loop print out the sum of all the years up to and including your current age, for example, if you were 5 y.o. you would end up with 1 + 2 + 3 + 4 + 5 = 15. Print out the final value in years (15 years). Also print out the calculated number of years as a number of months, days and hours.

In [116]:
current_age =27
year = 1
year_sum = 0

while year <= current_age:
        year_sum += year
        year += 1
print (year_sum, "years" )

months = year_sum *12
days = year_sum *365
hours = days*24

print ( months, "months", days, "days", hours,"hours")

378 years
4536 months 137970 days 3311280 hours

## Lecture Examples

In [127]:
name = input ("Enter your name")

#say hello to user

print ("hello", name)

Enter your name Joyceline

hello Joyceline

### Using if,elif,else

In [141]:
num = int (input('Enter a number : '))
if num < 0:
        print ( num, 'is negative')

num = int(input('enter another number'))
if num > 0:
          print (num, 'is positive')
          print (num,'squared is', num*num)
print('bye')

Enter a number :  -2

-2 is negative

enter another number 5

5 is positive
5 squared is 25
bye

In [143]:
x = True
if x:
    y =True
    if y:
        print ('block2')
    print('block1')
print('block0')

block2
block1
block0

In [145]:
num = int(input('enter a number :'))
if num < 0:
    print(num,'is negative')
elif num > 0:
    print( num, 'is positive')

else:
    print(num , 'is zero')

enter a number : 0

0 is zero

### Using if in expressions

In [149]:
num = int(input('enter a number'))
result = (-1 if num <0 else 1)
print('Result is', result)

enter a number 39

Result is 1

### Looping with for statements

In [160]:
print ('Using the values from a tuple')
for i in (1,3,5,7,9):
    print (i, '', end = '')

Using the values from a tuple
1 3 5 7 9

In [172]:
#Now use values in a range
print('print out values in a range')
for i in range(1,10,2):
    print(i, '', end = '')
print()
print('Bye')

print out values in a range
1 3 5 7 9
Bye

In [197]:
for i in range (1,10):
    if i == 6:
        break
    print(i, ',', sep='', end = '')
print()

1,2,3,4,5,

In [194]:
for i in range (1,10):
    if i == 6:
        continue
    else:
        print ( i, ',', sep = '', end = '')
print()

1,2,3,4,5,7,8,9,

### Using else with for statement

In [203]:
print('Only print code if all iterations completed')
num = int(input('enter a number to check for : '))
for i in [1,2,3,4]:
    if i == num:
        break
    print ( i, ' ', end = ' ')

else:
    print()
    print('All iterations successful')

Only print code if all iterations completed

enter a number to check for :  7

1   2   3   4
All iterations successful

### Looping with the while Statement

In [206]:
fx= 0; x=0;
while fx < 500:
    fx=2*x*(x+1)
    print (x, '\t:',fx)
    x+=1
print('done')

0 	: 0
1 	: 4
2 	: 12
3 	: 24
4 	: 40
5 	: 60
6 	: 84
7 	: 112
8 	: 144
9 	: 180
10 	: 220
11 	: 264
12 	: 312
13 	: 364
14 	: 420
15 	: 480
16 	: 544
done

In [216]:
i = 0
while i < 10:
    if i ==6:
        break
    print (i, ',', sep='', end='')
    i+=1
print()
print ('done')

0,1,2,3,4,5,
done

In [220]:
i = 0
while i < 10:
    i +=1
    if i ==6:
        continue
    else:
        print (i, ',', sep='', end = '')

1,2,3,4,5,7,8,9,10,